.header_wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  justify-items: start;
}

.menu_wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.link {
  padding: 10px;
  font-size: larger;
  cursor: pointer;
  color: darkmagenta;
}
